
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showAlert">
    Operation completed!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showAlert = !showAlert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form>
    <div class="form-row form-group">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" name="firstName" [(ngModel)]="contact.firstName">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" name="lastName" [(ngModel)]="contact.lastName" />
      </div>
    </div>

    <div class="form-row form-group">
        <div class="col">
            <input type="text" class="form-control" placeholder="Phone number" name="phoneNumber" type="text" [(ngModel)]="contact.phoneNumber">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="email" name="email" type="text" [(ngModel)]="contact.email">
        </div>
    </div>
    <button type="button" id="goBack" class="btn btn-outline-secondary float-left" (click)="goToContacts()" >Go back</button>

    <button type="submit" id="submitContact" *ngIf="!isEdit" class="btn btn-primary form-group float-right" (click)="addContact()">Add</button>
    <button type="submit" id="editContact" *ngIf="isEdit" class="btn btn-primary form-group float-right" (click)="updateContact()">Udate</button>
  </form>